// Colors
$black: #212121;

$primary: #d73776; // Pink (another pink #ff00c5)
$primary-light: mix(white, $primary, 30%);
$primary-lighter: mix(white, $primary, 60%);
$primary-lightest: mix(white, $primary, 90%);
$primary-dark: mix(black, $primary, 20%);
$primary-darker: mix(black, $primary, 40%);
$primary-darkest: mix(black, $primary, 60%);

$secondary: #28c889; // Green (another green #0096a9)
$secondary-light: mix(white, $secondary, 30%);
$secondary-lighter: mix(white, $secondary, 60%);
$secondary-lightest: mix(white, $secondary, 90%);
$secondary-dark: mix(black, $secondary, 20%);
$secondary-darker: mix(black, $secondary, 40%);
$secondary-darkest: mix(black, $secondary, 60%);

$tertiary: #c9a227; // Gold - from chatgpt: light gold = #ffd700, brass gold = #b5a642, dark gold = #c9a227, rosé gold = #b76e79
$tertiary-light: mix(white, $tertiary, 30%);
$tertiary-lighter: mix(white, $tertiary, 60%);
$tertiary-lightest: mix(white, $tertiary, 90%);
$tertiary-dark: mix(black, $tertiary, 20%);
$tertiary-darker: mix(black, $tertiary, 40%);
$tertiary-darkest: mix(black, $tertiary, 60%);