@use "Parts/Variables" as variables;
@use "Parts/Fonts";
@use "bootstrap/scss/bootstrap" as *;

/*:root {
	--header-height: 5.25rem;
}*/

body {
	color: variables.$black;
	font-family: "Shaking two", Arial, "Helvetica Neue", Helvetica, sans-serif;
	//////////////////////////////////////margin-top: var(--header-height);

	&.home {
		main {
			margin-top: 50rem;

			.frame {
				p {
					color: variables.$white;
					font-size: 2rem;
					margin-bottom: 0;
				}
			}

			.welcome {
				background-color: variables.$primary;
				margin-top: -5rem;
				padding: 1rem;
				padding-top: 4rem;

				width: 100vw;
				margin-left: calc(50% - 50vw);

				.container-md {
					h1 {
						display: none;
					}

					p {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

header {
	background-color: variables.$primary;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1030;
}

.bg-primary {
	background-color: variables.$primary !important;
}

.bg-primary-dark {
	background-color: variables.$primary-dark !important;
}

.bg-primary-darker {
	background-color: variables.$primary-darker !important;
}

.bg-primary-darkest {
	background-color: variables.$primary-darkest !important;
}

.bg-primary-light {
	background-color: variables.$primary-light !important;
}

.bg-primary-lighter {
	background-color: variables.$primary-lighter !important;
}

.bg-primary-lightest {
	background-color: variables.$primary-lightest !important;
}

.bg-secondary {
	background-color: variables.$secondary !important;
}

.bg-secondary-dark {
	background-color: variables.$secondary-dark !important;
}

.bg-secondary-darker {
	background-color: variables.$secondary-darker !important;
}

.bg-secondary-darkest {
	background-color: variables.$secondary-darkest !important;
}

.bg-secondary-light {
	background-color: variables.$secondary-light !important;
}

.bg-secondary-lighter {
	background-color: variables.$secondary-lighter !important;
}

.bg-secondary-lightest {
	background-color: variables.$secondary-lightest !important;
}

.bg-tertiary {
	background-color: variables.$tertiary !important;
}

.bg-tertiary-dark {
	background-color: variables.$tertiary-dark !important;
}

.bg-tertiary-darker {
	background-color: variables.$tertiary-darker !important;
}

.bg-tertiary-darkest {
	background-color: variables.$tertiary-darkest !important;
}

.bg-tertiary-light {
	background-color: variables.$tertiary-light !important;
}

.bg-tertiary-lighter {
	background-color: variables.$tertiary-lighter !important;
}

.bg-tertiary-lightest {
	background-color: variables.$tertiary-lightest !important;
}

.carousel {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	/////////////////////////////////////top: var(--header-height);
	width: 100%;
	z-index: -1;

	.carousel-item,
	.carousel-item img {
		height: 100vh;
	}

	.carousel-item {
		img {
			object-fit: cover;
			object-position: center center;
			width: 100%;
		}
	}
}

.collapsing {
	transition: none;
}

.nav {
	.nav-item {
		align-items: center;
		display: flex;

		&:not(:last-child)::after {
			color: variables.$black;
			content: "|";
			font-size: 2rem;
			margin: 0 0.75rem;
		}
	}

	.nav-link {
		color: variables.$black;
		font-size: 1.6rem;
		padding: 0;

		&:focus,
		&:focus-visible,
		&:hover,
		&:link,
		&:visited {
			color: variables.$black;
		}

		&:hover {
			text-decoration: underline;
		}

		&.active,
		&:active {
			color: variables.$black;
			font-weight: bold;
			text-decoration: underline;
		}
	}
}

.navbar {
	--bs-navbar-toggler-border-color: #{variables.$black};

	.social-media {
		a,
		a:active,
		a:focus,
		a:focus-visible,
		a:hover,
		a:link,
		a:visited,
		a svg {
			text-decoration: none !important;
		}

		svg {
			color: variables.$black;
			height: 2rem;
			width: 2rem;
		}
	}
}

.navbar-collapse {
	ul.nav {
		.close {
			background-color: transparent;
			border-width: 0;
			display: none;
			height: 2rem;
			margin-left: auto;
			padding: 0;
			width: 2rem;

			svg {
				height: 100%;
				width: 100%;
			}
		}
	}

	&.show {
		display: contents;

		ul.nav {
			background-color: variables.$primary-lighter;
			border-radius: 1rem;
			display: block;
			left: 50%;
			list-style: circle;
			padding: 1rem;
			position: fixed;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 15rem;
			z-index: 1040;

			.close {
				display: block;
			}

			.nav-item {
				&:not(:last-child)::after {
					content: none;
				}
			}
		}
	}
}

.navbar-toggler {
	background-color: variables.$primary-lighter;
	color: variables.$black;
	margin-left: auto;
	margin-right: 0.6rem;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23#{str-slice('#{variables.$black}', 2)}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.text-primary {
	color: variables.$primary !important;
}

.text-primary-dark {
	color: variables.$primary-dark !important;
}

.text-primary-darker {
	color: variables.$primary-darker !important;
}

.text-primary-darkest {
	color: variables.$primary-darkest !important;
}

.text-primary-light {
	color: variables.$primary-light !important;
}

.text-primary-lighter {
	color: variables.$primary-lighter !important;
}

.text-primary-lightest {
	color: variables.$primary-lightest !important;
}

.text-secondary {
	color: variables.$secondary !important;
}

.text-secondary-dark {
	color: variables.$secondary-dark !important;
}

.text-secondary-darker {
	color: variables.$secondary-darker !important;
}

.text-secondary-darkest {
	color: variables.$secondary-darkest !important;
}

.text-secondary-light {
	color: variables.$secondary-light !important;
}

.text-secondary-lighter {
	color: variables.$secondary-lighter !important;
}

.text-secondary-lightest {
	color: variables.$secondary-lightest !important;
}

.text-tertiary {
	color: variables.$tertiary !important;
}

.text-tertiary-dark {
	color: variables.$tertiary-dark !important;
}

.text-tertiary-darker {
	color: variables.$tertiary-darker !important;
}

.text-tertiary-darkest {
	color: variables.$tertiary-darkest !important;
}

.text-tertiary-light {
	color: variables.$tertiary-light !important;
}

.text-tertiary-lighter {
	color: variables.$tertiary-lighter !important;
}

.text-tertiary-lightest {
	color: variables.$tertiary-lightest !important;
}

@include media-breakpoint-down(sm) {
	body {
		&.home {
			main {
				margin-top: 36rem;

				.frame {
					p {
						font-size: 1.6rem;
					}
				}
			}
		}
	}

	.carousel {
		top: 0;
	}
}

@include media-breakpoint-between(sm, md) {

}

@include media-breakpoint-between(md, lg) {

}

@include media-breakpoint-between(lg, xl) {

}

@include media-breakpoint-between(xl, xxl) {

}

@include media-breakpoint-up(xxl) {

}